$font-mont: 'Montserrat',
sans-serif;
$bg-color: #F4F7F6;
$color-dark: #222426;
$color-light: #ffffff;
$font-color: #333333;
$color-green: #41969C;
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Thin.ttf') format('truetype'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

html,
body {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: $font-mont;
    color: $font-color;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $color-light;
    position: relative;
}

img {
    max-width: 100%;
}

a {
    color: $font-color;
}

h2 {
    text-align: center;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: transparent;
    z-index: 30;
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        li {
            list-style: none;
            a {
                text-decoration: none;
                padding: 10px;
                font-weight: 400;
                font-size: 1.2em;
            }
        }
    }
}

.menu-icon {
    display: none;
}

nav.scroll {
    background-color: $color-dark !important;
    box-shadow: 0px 0px .5px rgba(0, 0, 0, .9);
    a,
    #btn_menu {
        color: $color-light;
    }
}

nav.mobile {
    background-color: $color-dark !important;
    box-shadow: 0px 0px .5px rgba(0, 0, 0, .9);
    ul{
        display: none;
    }
    a,
    #btn_menu {
        color: $color-light;
    }
}

.about {
    h1 {
        color: transparent;
    }
    width: 100%;
    min-height: 100%;
    background-color: $bg-color;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-content: flex-end;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .text {
        margin-left: 10%;
        width: 90%;
        height: 100%;
        font-size: 2em;
        .j_hi,
        .j_20,
        .j_dev,
        .j_name,
        .j_gomes {
            color: $color-green;
            font-weight: 700;
        }
        .j_have,
        .j_years {
            color: $font-color;
            font-weight: 400;
        }
        .j_hi {
            font-size: 2.5em;
            color: $font-color;
        }
        .j_name {
            font-size: 2.5em;
            display:inline;
        }
        .j_gomes {
            font-size: 1.7em;
            .j_have {
                font-size: .6em;
            }
        }
        .j_20 {
            font-size: 3em;
        }
        .inf {
            display: flex;
            align-items: center;
            .more {
                display: flex;
                flex-direction: column;
                padding-left: 10px;
            }
        }
    }
    img {
        align-self: flex-end;
        width: 32%;
    }
}

section.content {
    flex-grow: 1;
}

.skills {
    background-color: $color-green;
    color: $color-light;
}

.flex {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: transparent;
    .card {
        padding: 10px;
        width: 30%;
        font-size: 1.2em;
        text-align: center;
        .icon {
            font-size: 3.5em;
            text-align: center;
        }
        .bootstrap {
            background-image: url('../images/bootstrap.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            color: transparent;
        }
        h4 {
            text-align: center;
        }
    }
}

.content {
    min-width: 100%;
    left: 0px;
    padding-bottom: 60px;
    p {
        font-size: 1.2em;
        margin-left: 10%;
        margin-right: 10%;
    }
    h2 {
        font-size: 3em;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}

.bg-gallery {
    filter: blur(1px);
}

.gallery {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    z-index: 50;
    position: fixed;
    background-color: rgba(0, 0, 0, .65);
    .g-btn {
        cursor: pointer;
        color: $color-light;
    }
    #close {
        margin-top: 1%;
        margin-right: 30px;
        width: 100%;
        height: auto;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        #closegallery {
            font-size: 2em;
        }
    }
    #gallerycontrols {
        margin-top: 1%;
        align-self: flex-end;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        #controls {
            margin-top: 20px;
            span {
                padding: 60px;
            }
        }
        img {
            width: 70%;
            box-shadow: 0px 0px 30px 0px #000000;
        }
    }
}

.portfolio {
    background-color: $color-dark;
    color: $color-dark;
    h2 {
        color: $color-light;
    }
    .flex {
        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 35%;
            height: 250px;
            margin-top: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            color: transparent;
            transition: color .5s linear;
            position: relative;
            cursor: pointer;
            transition: background .6s ease-out;
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                transition: all 1s linear;
            }
            h3,
            p {
                z-index: 1;
            }
            h3 {
                font-size: 1.2em;
            }
            p {
                font-size: .95em;
            }
            &:hover>.overlay {
                background-color: black;
                opacity: 0.5;
                display: inline-block;
            }
            &:hover {
                color: #ffffff;
                background-size: 110% 110%;
            }
        }
        .order-coffee {
            background-image: url('../images/order-coffee-1.png');
        }
        .aerocris {
            background-image: url('../images/aerocris.png');
            text-decoration: none;
        }
        .tcc {
            background-image: url('../images/pizzaria-1.png');
        }
        .guia-clinicas {
            background-image: url('../images/guia-clinicas-1.png');
        }
    }
}

.contact {
    background-color: $color-green;
    color: $color-light;
    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: space-between;
        ::placeholder {
            color: rgba(255, 255, 255, .7);
            opacity: 1;
            /* Firefox */
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba(255, 255, 255, .7);
        }
        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: rgba(255, 255, 255, .7);
        }
        input,
        textarea,
        button {
            width: 40%;
            margin-top: 10px;
            line-height: 2em;
            padding: 5px;
            border-radius: 10px 10px 10px 10px;
            border: 1px solid $color-light;
            background-color: rgba(255, 255, 255, .3);
            color: $color-light;
            &:hover {
                background-color: rgba(255, 255, 255, .1);
            }
        }
        .btn {
            width: 20%;
        }
    }
}

footer {
    width: 100%;
    background-color: $color-green;
    color: $color-light;
    text-align: center;
    padding-bottom: 20px;
    .icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: flex-end;
        a {
            color: $color-light;
            padding: 10px;
            font-size: 2em;
            transition: .6s;
            &:hover {
                color: $font-color;
            }
        }
    }
    span {
        font-size: .8em;
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 5em;
    p,
    a {
        font-size: .5em;
    }
}

//media query
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-device-width: 480px) {
    section {
        min-width: 100%;
    }
    .about {
        align-content: flex-end;
        align-items: center;
        flex-direction: column;
        min-height: 100%;
        .text {
            font-size: 1.2em;
            margin-top: 60px;
        }
        img {
            width: 70%;
            align-self: flex-end;
        }
    }
    .contact {
        width: 100%;
        form {
            width: 100%;
            input,
            textarea,
            button {
                width: 80%;
            }
        }
    }
}

@media only screen and (max-device-width: 768px) {
    #menu {
        ul {
            height: auto;
            width: 100%;
            display: none;
            flex-direction: column;
            padding: 0;
            margin: 0;
            margin-top: -1px;
            text-align: center;
            background-color: $color-dark;
            li {
                width: 100%;
                padding: 5px;
                border-bottom: 1px solid $color-light;
                &:first-child {
                    border-top: 1px solid $color-light;
                }
                &:last-child {
                    border-bottom: 0px;
                }
                a {
                    width: 100%;
                    font-size: 2em;
                }
            }
        }
        .menu-icon {
            position: relative;
            display: block;
            width: 2.3em;
            margin-right: 10px;
            height: 3em;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .menu-icon>span {
            position: absolute;
            top: 50%;
            display: block;
            width: 100%;
            height: .3em;
            background-color: $color-light;
            border-radius: 3px;
        }
        .menu-icon>span:before,
        .menu-icon>span:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $color-light;
            border-radius: 3px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .menu-icon>span:before {
            -webkit-transform: translateY(-.6em);
            transform: translateY(-.6em);
        }
        .menu-icon>span:after {
            -webkit-transform: translateY(.6em);
            transform: translateY(.6em);
        }
        /* OPENED */
        .menu-icon.open {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .menu-icon.open>span:before {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        .menu-icon.open>span:after {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    #btn_menu {
        display: block !important;
    }
    .portfolio {
        .flex {
            .item {
                width: 100%;
                color: $color-light;
                .overlay {
                    background-color: black;
                    opacity: 0.5;
                    display: inline-block;
                }
            }
        }
    }
    .btn {
        width: 100%;
    }
    .gallery {
        #close {
            margin-top: 15px;
            margin-right: 15px;
            #closegallery {
                font-size: 1.7em;
            }
        }
        #gallerycontrols {
            margin-top: 90px;
            #controls {
                margin-top: 20px;
                span {
                    padding: 60px;
                }
            }
            img {
                width: 100%;
                box-shadow: 0px 0px 30px 0px #000000;
            }
        }
    }
}